.banner .banner-1 {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.btn-primary{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding:24px 24px  ;
}
.banner{
    display: flex;
    justify-content:center;
   
border-radius: 24px;
background: rgb(198, 228, 214);

gap: 64;
padding: 80px 100px 80px 100px;

}
.banner-title{
    color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}


.title-2{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 20px;
font-weight: 500px;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
gap: 5px;
}
.description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600px;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}
.flex{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
   
}
.carding{
  width: 410.67px;
height: 325px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e7f0fc;
    text-align: left;
    
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  .carding.icon img {
    width: 50px;
    margin-bottom: 15px;
  }
  
  .carding h3 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .carding p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .carding .learn-more {
    width: 122px;
height: 41px;
    
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    
  }
  .extra{
    background-color:rgb(198, 228, 214) ;
  }
  
  .second-extra{
    background-color: rgb(247, 235, 207);
  }
  .btn-color{
     padding: 10px 15px;
    border-radius: 5px;
    background-color:rgb(9, 161, 92);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-color2{
  padding: 10px 15px;
 border-radius: 5px;
 background-color:rgb(255, 194, 57);
 color: #fff;
 text-decoration: none;
 font-size: 14px;
 transition: background-color 0.3s;
}
.carding.news-title{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.carding .news-p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
 
.news-title h2{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: 24px 0px;

}


.news.content .read-more:hover {
  background-color: #005f40;
  width: 139px;
height: 48px;
}
.news{
  display: flex;
  width: 1280px;
  height: 402px;
  margin: 20px auto;
  padding: 20px;
  
  border-radius: 24px;

background: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.news .image img {
  width: 408px;
  height: 306px;
  border-radius: 10px;
  object-fit: cover;
  
}

.news .content {
  flex: 1;
  margin-left: 20px;
}

.news .content h3 {
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}


.news .content .date {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.news .content .description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.news .content .read-more {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #007b55;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.news .content .read-more:hover {
  width: 139px;
height: 48px;
  background-color: #005f40;
}
.donate{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
 
}
.donate-contant{
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.last-cards{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
  display: flex;
  gap: 24px;
  justify-content: center
  
  
}
.last-cards .box{
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 40px ;
 
  border-radius: 16px;
  
  background: rgb(255, 255, 255);
}
.last-cards .main-box{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 40px ;

background: rgb(198, 228, 214);
}
.last-section{
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 10px;


gap: 24;
padding: 20px 40px 20px 40px;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;

}
.last-section .font{
  color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
border: none;
background: rgb(255, 255, 255);
box-sizing: border-box;
}
.last-btn{

  text-align: center;
  gap: 32px;
  margin-top: 20px ;

}

.Done{
  background: rgb(0, 106, 80);
  font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);
padding: 17px 34px 17px 34px;
border-radius: 8px;
border-color:none;

}
.last-contant{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.last-banner{
  width: 1280px;
  height: 395px;
  display: flex;
  justify-content: center;
 


  border-radius: 24px;

background: rgb(198, 228, 214);
}
.last-banner .title-5{
  text-align: center;
  
}
.last-h1{
  color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
}

.
.last-contant .last-description{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.last-contant .button{
  position: relative;
  width: 100%;
  margin: o auto;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;

  

}